.input-group-text {
  background: #adc0c0 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 25% !important;
  width: 100%;
  height: 100%;
}

.input-group-prepend{
  width: 50px;
  color: black;
  border-radius: 5px;
  margin-right: 10px;
}


.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: rgb(251, 255, 244);
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 40%;
  border: 2px solid white;
}

.form_container {
  margin-top: 60px;
}

.user_card {
  height: 750px;
  width: 90%;
  margin: auto;
  margin-top: 25%;
  background: rgba(88, 141, 243, 0.43);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

ion-input{
  border-radius: 5px;
}

.google{
  --background: #DB4437;
}
