<ion-app>
  <ion-content class="background-image">
    <div class="user_card">
      <div style="display: flex; justify-content: center">
        <div class="brand_logo_container">
          <img src="assets/selfie.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="form_container">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <div style="margin-bottom: 15px">
          <div>
            <ion-item>
              <ion-label position="floating">Nombres</ion-label>
              <ion-input [(ngModel)]="nombres1"></ion-input>
            </ion-item>
          </div>
        </div>

        <div style="margin-bottom: 15px">
          <div>
            <ion-item>
              <ion-label position="floating">Apellidos</ion-label>
              <ion-input [(ngModel)]="apellidos1"></ion-input>
            </ion-item>
          </div>
        </div>


        <div style="margin-bottom: 15px">
          <div>
            <ion-item  style="background: var(--ion-item-background, var(--ion-background-color, #fff));">
              <ion-label style="background: var(--ion-item-background, var(--ion-background-color, #fff));" > Fecha de Nacimiento </ion-label>
              <ion-datetime [(ngModel)]="fecha_nacimiento1" style="background: var(--ion-item-background, var(--ion-background-color, #fff));" placeholder="DD/MM/YYYY" displayFormat="DD/MM/YYYY" min="1950-01-01"></ion-datetime>
            </ion-item>
          </div>
        </div>

        <div style="margin-bottom: 15px">
          <div>
            <ion-item>
              <ion-label position="floating">Correo Electronico</ion-label>
              <ion-input [(ngModel)]="correo_electronico1"></ion-input>
            </ion-item>
          </div>

        </div>

        <div style="margin-bottom: 15px">
          <div>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="contrasena1"></ion-input>
            </ion-item>
          </div>

        </div>

        <div style="margin-bottom: 15px">
          <div style>
            <ion-item>
              <ion-label>Tipo de Usuario</ion-label>
              <ion-select interface="action-sheet" [(ngModel)]="tipo_usuario1">
                <ion-select-option value="1">Vendedor</ion-select-option>
                <ion-select-option value="2">Comprador</ion-select-option>
                </ion-select>
            </ion-item>
          </div>
        </div>

        <div style="margin-bottom: 15px">
          <div style>
            <ion-item>
              <ion-label>Residencial</ion-label>
              <ion-select interface="action-sheet" [(ngModel)]="id_colonia1" ok-text="Seleccionar" cancel-text="Cancelar">
                <ion-select-option *ngFor="let item of colonias"  [value]=item.idColonia>
                  {{item.nombre_residencial}}, {{item.nombre_colonia}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </div>
        </ion-list>
        <ion-button expand="block" color="light" size="large" (click)="Registrar()">Completar Registro</ion-button>
        <ion-button expand="block" color="dark" size="large" (click)="returnLogin()">Regresar</ion-button>
      </div>
    </div>
  </ion-content>
</ion-app>
