<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="background-color: rgba(5,79,158,0.44)">
      <ion-card-title>
        <h3><b></b></h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon slot="start" color="medium" name="cash"></ion-icon>
        <ion-label>Hola. {{this.user}}  </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
