<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>CovPlace</ion-list-header>
          <ion-note>Vende lo que no uses, compra lo que necesites</ion-note>
          <ion-button expand="block" color="light" size="medium" (click)="VerPerfil()">Ver Perfil</ion-button>
        </ion-list>

        <ion-list id="C-list">
          <ion-list-header>Compras</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>


        <ion-list id="V-list">
          <ion-list-header>Ventas</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages2; let i = index">
            <ion-item (click)="selectedIndex2 = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex2 == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>


        <ion-list id="A-list">
          <ion-list-header>Ayuda</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages3; let i = index">
            <ion-item (click)="salida(i)" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex3 == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
